.center {
  text-align: center;
}

button:disabled {
  background-color: lightgray;
  border-color: black;
}

button:enabled {
  background-color:lightgreen;
  border-color: black;
}

button:hover {
  background-color:green;
  border-color: black;
}

.button {
  width: 2rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bolder;
  margin: 1rem;
}
